name: Build

on: [push, pull_request]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-15-intel]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build
        run: |
          rustup override set nightly
          cargo build --release

      - uses: actions/upload-artifact@v6
        with:
          name: ReAET-${{ matrix.os }}
          path: target/release/ReAET${{ matrix.os == 'windows-latest' && '.exe' || '' }}
